<div id="about-container">

	<h1 id="about_h" class="w3-xxxlarge">about</h1>

	<div id="about_div1" class="w3-large">

			<p id="about_p">this website includes</p>

				<ul class="w3-card-16"><strong>
					<li class="about_list">weekly updated game statistics
						</br>
					</li>
					<li class="about_list">reccomended fantasy lineups 
						</br>
					</li>
					<li class="about_list">full nfl schedule and matchups 
					</li>
					</strong>
				</ul>
	</div>

		<h1 id="about_h2" class="w3-xxxlarge">how it works</h1>

		<div id="about_div2" class="w3-large">

			<p>We accomplish this by 
			pulling live data from the web using api calls.
			the statistics are fed into our databases and pushed onto the website
			using a variety of technologies such as:</p>
				</br>

			<ul>
				<li>
					JAVASCRIPT
				</li>
				<li>ANGULAR</li>
				<li>AJAX</li>
			</ul>

	</div>
	<div id="aboutFoot" class="footer">
				<i class="icon ion-ios-americanfootball w3-large"></i>
					<strong>All You Need To Know About Fantasy Football!</strong>
					<i class="icon ion-ios-americanfootball w3-large"></i>
					<p><i class="icon ion-ios-americanfootball-outline w3-large"></i>
					By Joshua Franey, Gabriel Hamiltion, Joe Hill, and Evan Tizard
				<i class="icon ion-ios-americanfootball-outline w3-large"></i></p>
		</div>
</div>