    <div class="playerlist-container">
      
        <main ng-controller="PlayerListCtrl as ctrl">
                        
        

        </main>

    <div id="playerlistFoot" class="footer">

        <i class="icon ion-ios-americanfootball w3-large"></i>
          <strong>All You Need To Know About Fantasy Football!</strong>
          <i class="icon ion-ios-americanfootball w3-large"></i>
          <p><i class="icon ion-ios-americanfootball-outline w3-large"></i>
          By Joshua Franey, Gabriel Hamiltion, Joe Hill, and Evan Tizard
        <i class="icon ion-ios-americanfootball-outline w3-large"></i></p>

    </div>

</div>