    <div class="playerlist-container">
      
       	<h1 id="team-list">Teams</h1>

        <!-- 	<div id="teamlist" ng-repeat="team in ctrl.teamName">
        		
        			<input type="radio" name="radTeamName">{{team.teamName}}
        				<br/>
        	</div>
 -->

        <div class="dropdown">

          <button onclick="myFunction()" class="dropbtn">Select A Team</button>

          <div id="myDropdown" class="dropdown-content">

            <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
                <a href="#/playerlist/ARI">Arizona Cardinals</a>
                <a href="#/playerlist/ATL">Atlanta Falcons</a>
                <a href="#/playerlist/BAL">Baltimore Ravens</a>
                <a href="#/playerlist/BUF">Buffalo Bills</a>
                <a href="#/playerlist/CAR">Carolina Panthers</a>
                <a href="#/playerlist/CHI">Chicago Bears</a>
                <a href="#/playerlist/CIN">Cincinatti Bengals</a>
                <a href="#/playerlist/CLE">Cleveland Browns</a>
                <a href="#/playerlist/DAL">Dallas Cowboys</a>
                <a href="#/playerlist/DEN">Denver Broncos</a>
                <a href="#/playerlist/DET">Detroit Lions</a>
                <a href="#/playerlist/GB">Green Bay Packers</a>
                <a href="#/playerlist/HOU">Houston Texans</a>       
                <a href="#/playerlist/IND">Indianapolis Colts</a>
                <a href="#/playerlist/JAX">Jacksonville Jaguars</a>
                <a href="#/playerlist/KC">Kansas City Chiefs</a>
                <a href="#/playerlist/LA">Los Angeles Rams</a>
                <a href="#/playerlist/MIA">Miami Dolphins</a>
                <a href="#/playerlist/MIN">Minnesota Vikings</a>       
                <a href="#/playerlist/NE">New England Patriots</a>
                <a href="#/playerlist/NO">New Orleans Saints</a>
                <a href="#/playerlist/NYG">New York Giants</a>
                <a href="#/playerlist/NYJ">New York Jets</a>
                <a href="#/playerlist/OAK">Oakland Raiders</a>
                <a href="#/playerlist/PHI">Philadelphia Eagles</a>       
                <a href="#/playerlist/PIT">Pittsburgh Steelers</a>
                <a href="#/playerlist/SD">San Diego Chargers</a>
                <a href="#/playerlist/SEA">Seattle Seahawks</a>
                <a href="#/playerlist/SF">San Francisco 49ers</a>
                <a href="#/playerlist/TB">Tampa Bay Buccaneers</a>
                <a href="#/playerlist/TEN">Tennessee Titans</a>
                <a href="#/playerlist/WAS">Washington Redskins</a>

           </div>
        </div>

       		<div id="playrlist" >
       			
       			<table id="playertable" class="table table-striped table-bordered table-condensed table-hover w3-card-16 w3-table-all">

       				<tr>
       					<th>Player Name</th>
       					<th>Position</th>
       				</tr>
       				
       				<tr ng-repeat="playr in ctrl.roster">
       					<th>{{playr.name}}</th>
                <th>{{playr.position.description}}</th>
        			<tr>

       			</table>

       		<div id="stadium-container">
                  <div id="stadium-ravens">
                      <iframe
                        width="450"
                        height="250"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/streetview?key=AIzaSyDbOMeklgU0RuoqbpYNIjsnInOyOMNX3xo&location=39.277969,-76.622767" allowfullscreen>
                      </iframe>
                      <iframe
                        width="450"
                        height="250"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/view?key=AIzaSyDbOMeklgU0RuoqbpYNIjsnInOyOMNX3xo&center=39.277969,-76.622767&zoom=16&maptype=satellite" allowfullscreen>
                      </iframe>
                      </div>

                      <div id="stadium-jaguars">
                      <iframe
                        width="450"
                        height="250"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/streetview?key=AIzaSyDbOMeklgU0RuoqbpYNIjsnInOyOMNX3xo&location=30.323925,-81.637356" allowfullscreen>
                      </iframe>
                      <iframe
                        width="450"
                        height="250"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/view?key=AIzaSyDbOMeklgU0RuoqbpYNIjsnInOyOMNX3xo&center=30.323925,-81.637356&zoom=16&maptype=satellite" allowfullscreen>
                      </iframe>
                      </div>

                      <div id="stadium-saints">
                      <iframe
                        width="450"
                        height="250"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/streetview?key=AIzaSyDbOMeklgU0RuoqbpYNIjsnInOyOMNX3xo&location=29.950931,-90.081364" allowfullscreen>
                      </iframe>
                      <iframe
                        width="450"
                        height="250"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/view?key=AIzaSyDbOMeklgU0RuoqbpYNIjsnInOyOMNX3xo&center=29.950931,-90.081364&zoom=16&maptype=satellite" allowfullscreen>
                      </iframe>
                      </div>

                      <div id="stadium-bears">
                      <iframe
                        width="450"
                        height="250"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/streetview?key=AIzaSyDbOMeklgU0RuoqbpYNIjsnInOyOMNX3xo&location=41.862306,-87.616672" allowfullscreen>
                      </iframe>
                      <iframe
                        width="450"
                        height="250"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/view?key=AIzaSyDbOMeklgU0RuoqbpYNIjsnInOyOMNX3xo&center=41.862306,-87.616672&zoom=16&maptype=satellite" allowfullscreen>
                      </iframe>
                      </div>

                      <div id="stadium-redskins">
                      <iframe
                        width="450"
                        height="250"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/streetview?key=AIzaSyDbOMeklgU0RuoqbpYNIjsnInOyOMNX3xo&location=38.907697,-76.864517" allowfullscreen>
                      </iframe>
                      <iframe
                        width="450"
                        height="250"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/view?key=AIzaSyDbOMeklgU0RuoqbpYNIjsnInOyOMNX3xo&center=38.907697,-76.864517&zoom=16&maptype=satellite" allowfullscreen>
                      </iframe>
                      </div>

                      <div id="stadium-eagles">
                      <iframe
                        width="450"
                        height="250"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/streetview?key=AIzaSyDbOMeklgU0RuoqbpYNIjsnInOyOMNX3xo&location=39.900775,-75.167453" allowfullscreen>
                      </iframe>
                      <iframe
                        width="450"
                        height="250"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/view?key=AIzaSyDbOMeklgU0RuoqbpYNIjsnInOyOMNX3xo&center=39.900775,-75.167453&zoom=16&maptype=satellite" allowfullscreen>
                      </iframe>
                      </div>

                      <div id="stadium-chargers">
                      <iframe
                        width="450"
                        height="250"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/streetview?key=AIzaSyDbOMeklgU0RuoqbpYNIjsnInOyOMNX3xo&location=32.783117,-117.119525" allowfullscreen>
                      </iframe>
                      <iframe
                        width="450"
                        height="250"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/view?key=AIzaSyDbOMeklgU0RuoqbpYNIjsnInOyOMNX3xo&center=32.783117,-117.119525&zoom=16&maptype=satellite" allowfullscreen>
                      </iframe>
                      </div>

                      <div id="stadium-bills">
                      <iframe
                        width="450"
                        height="250"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/streetview?key=AIzaSyDbOMeklgU0RuoqbpYNIjsnInOyOMNX3xo&location=42.773739,-78.786978" allowfullscreen>
                      </iframe>
                      <iframe
                        width="450"
                        height="250"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/view?key=AIzaSyDbOMeklgU0RuoqbpYNIjsnInOyOMNX3xo&center=42.773739,-78.786978&zoom=16&maptype=satellite" allowfullscreen>
                      </iframe>
                      </div>

                      <div id="stadium-49ers">
                      <iframe
                        width="450"
                        height="250"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/streetview?key=AIzaSyDbOMeklgU0RuoqbpYNIjsnInOyOMNX3xo&location=37.4032,-121.9698" allowfullscreen>
                      </iframe>
                      <iframe
                        width="450"
                        height="250"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/view?key=AIzaSyDbOMeklgU0RuoqbpYNIjsnInOyOMNX3xo&center=37.4032,-121.9698&zoom=16&maptype=satellite" allowfullscreen>
                      </iframe>
                      </div>

                      <div id="stadium-chiefs">
                      <iframe
                        width="450"
                        height="250"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/streetview?key=AIzaSyDbOMeklgU0RuoqbpYNIjsnInOyOMNX3xo&location=39.048914,-94.484039" allowfullscreen>
                      </iframe>
                      <iframe
                        width="450"
                        height="250"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/view?key=AIzaSyDbOMeklgU0RuoqbpYNIjsnInOyOMNX3xo&center=39.048914,-94.484039&zoom=16&maptype=satellite" allowfullscreen>
                      </iframe>
                      </div>

                      <div id="stadium-packers">
                      <iframe
                        width="450"
                        height="250"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/streetview?key=AIzaSyDbOMeklgU0RuoqbpYNIjsnInOyOMNX3xo&location=44.501306,-88.062167" allowfullscreen>
                      </iframe>
                      <iframe
                        width="450"
                        height="250"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/view?key=AIzaSyDbOMeklgU0RuoqbpYNIjsnInOyOMNX3xo&center=44.501306,-88.062167&zoom=16&maptype=satellite" allowfullscreen>
                      </iframe>
                      </div>

                      <div id="stadium-giants">
                      <iframe
                        width="450"
                        height="250"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/streetview?key=AIzaSyDbOMeklgU0RuoqbpYNIjsnInOyOMNX3xo&location=40.8128,-74.0742" allowfullscreen>
                      </iframe>
                      <iframe
                        width="450"
                        height="250"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/view?key=AIzaSyDbOMeklgU0RuoqbpYNIjsnInOyOMNX3xo&center=40.8128,-74.0742&zoom=16&maptype=satellite" allowfullscreen>
                      </iframe>
                      </div>

                      <div id="stadium-jets">
                      <iframe
                        width="450"
                        height="250"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/streetview?key=AIzaSyDbOMeklgU0RuoqbpYNIjsnInOyOMNX3xo&location=40.8128,-74.0742" allowfullscreen>
                      </iframe>
                      <iframe
                        width="450"
                        height="250"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/view?key=AIzaSyDbOMeklgU0RuoqbpYNIjsnInOyOMNX3xo&center=40.8128,-74.0742&zoom=16&maptype=satellite" allowfullscreen>
                      </iframe>
                      </div>

                      <div id="stadium-dolphins">
                      <iframe
                        width="450"
                        height="250"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/streetview?key=AIzaSyDbOMeklgU0RuoqbpYNIjsnInOyOMNX3xo&location=25.957919,-80.238842" allowfullscreen>
                      </iframe>
                      <iframe
                        width="450"
                        height="250"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/view?key=AIzaSyDbOMeklgU0RuoqbpYNIjsnInOyOMNX3xo&center=25.957919,-80.238842&zoom=16&maptype=satellite" allowfullscreen>
                      </iframe>
                      </div>

                      <div id="stadium-bengals">
                      <iframe
                        width="450"
                        height="250"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/streetview?key=AIzaSyDbOMeklgU0RuoqbpYNIjsnInOyOMNX3xo&location=39.095442,-84.516039" allowfullscreen>
                      </iframe>
                      <iframe
                        width="450"
                        height="250"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/view?key=AIzaSyDbOMeklgU0RuoqbpYNIjsnInOyOMNX3xo&center=39.095442,-84.516039&zoom=16&maptype=satellite" allowfullscreen>
                      </iframe>
                      </div>

                      <div id="stadium-broncos">
                      <iframe
                        width="450"
                        height="250"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/streetview?key=AIzaSyDbOMeklgU0RuoqbpYNIjsnInOyOMNX3xo&location=39.743936,-105.020097" allowfullscreen>
                      </iframe>
                      <iframe
                        width="450"
                        height="250"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/view?key=AIzaSyDbOMeklgU0RuoqbpYNIjsnInOyOMNX3xo&center=39.743936,-105.020097&zoom=16&maptype=satellite" allowfullscreen>
                      </iframe>
                      </div>

                      <div id="stadium-cowboys">
                      <iframe
                        width="450"
                        height="250"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/streetview?key=AIzaSyDbOMeklgU0RuoqbpYNIjsnInOyOMNX3xo&location=32.747778,-97.092778" allowfullscreen>
                      </iframe>
                      <iframe
                        width="450"
                        height="250"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/view?key=AIzaSyDbOMeklgU0RuoqbpYNIjsnInOyOMNX3xo&center=32.747778,-97.092778&zoom=16&maptype=satellite" allowfullscreen>
                      </iframe>
                      </div>

                      <div id="stadium-seahawks">
                      <iframe
                        width="450"
                        height="250"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/streetview?key=AIzaSyDbOMeklgU0RuoqbpYNIjsnInOyOMNX3xo&location=47.595153,-122.331625" allowfullscreen>
                      </iframe>
                      <iframe
                        width="450"
                        height="250"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/view?key=AIzaSyDbOMeklgU0RuoqbpYNIjsnInOyOMNX3xo&center=47.595153,-122.331625&zoom=16&maptype=satellite" allowfullscreen>
                      </iframe>
                      </div>

                      <div id="stadium-buccaneers">
                      <iframe
                        width="450"
                        height="250"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/streetview?key=AIzaSyDbOMeklgU0RuoqbpYNIjsnInOyOMNX3xo&location=27.975967,-82.50335" allowfullscreen>
                      </iframe>
                      <iframe
                        width="450"
                        height="250"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/view?key=AIzaSyDbOMeklgU0RuoqbpYNIjsnInOyOMNX3xo&center=27.975967,-82.50335&zoom=16&maptype=satellite" allowfullscreen>
                      </iframe>
                      </div>

                      <div id="stadium-texans">
                      <iframe
                        width="450"
                        height="250"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/streetview?key=AIzaSyDbOMeklgU0RuoqbpYNIjsnInOyOMNX3xo&location=29.684781,-95.410956" allowfullscreen>
                      </iframe>
                      <iframe
                        width="450"
                        height="250"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/view?key=AIzaSyDbOMeklgU0RuoqbpYNIjsnInOyOMNX3xo&center=29.684781,-95.410956&zoom=16&maptype=satellite" allowfullscreen>
                      </iframe>
                      </div>

                      <div id="stadium-lions">
                      <iframe
                        width="450"
                        height="250"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/streetview?key=AIzaSyDbOMeklgU0RuoqbpYNIjsnInOyOMNX3xo&location=42.340156,-83.045808" allowfullscreen>
                      </iframe>
                      <iframe
                        width="450"
                        height="250"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/view?key=AIzaSyDbOMeklgU0RuoqbpYNIjsnInOyOMNX3xo&center=42.340156,-83.045808&zoom=16&maptype=satellite" allowfullscreen>
                      </iframe>
                      </div>

                      <div id="stadium-vikings">
                      <iframe
                        width="450"
                        height="250"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/streetview?key=AIzaSyDbOMeklgU0RuoqbpYNIjsnInOyOMNX3xo&location=44.973881,-93.258094" allowfullscreen>
                      </iframe>
                      <iframe
                        width="450"
                        height="250"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/view?key=AIzaSyDbOMeklgU0RuoqbpYNIjsnInOyOMNX3xo&center=44.973881,-93.258094&zoom=16&maptype=satellite" allowfullscreen>
                      </iframe>
                      </div>

                      <div id="stadium-panthers">
                      <iframe
                        width="450"
                        height="250"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/streetview?key=AIzaSyDbOMeklgU0RuoqbpYNIjsnInOyOMNX3xo&location=35.225808,-80.852861" allowfullscreen>
                      </iframe>
                      <iframe
                        width="450"
                        height="250"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/view?key=AIzaSyDbOMeklgU0RuoqbpYNIjsnInOyOMNX3xo&center=35.225808,-80.852861&zoom=16&maptype=satellite" allowfullscreen>
                      </iframe>
                      </div>

                      <div id="stadium-patriots">
                      <iframe
                        width="450"
                        height="250"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/streetview?key=AIzaSyDbOMeklgU0RuoqbpYNIjsnInOyOMNX3xo&location=42.090925,-71.26435" allowfullscreen>
                      </iframe>
                      <iframe
                        width="450"
                        height="250"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/view?key=AIzaSyDbOMeklgU0RuoqbpYNIjsnInOyOMNX3xo&center=42.090925,-71.26435&zoom=16&maptype=satellite" allowfullscreen>
                      </iframe>
                      </div>             

                      <div id="stadium-cardinals">
                      <iframe
                        width="450"
                        height="250"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/streetview?key=AIzaSyDbOMeklgU0RuoqbpYNIjsnInOyOMNX3xo&location=33.5277,-112.262608" allowfullscreen>
                      </iframe>
                      <iframe
                        width="450"
                        height="250"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/view?key=AIzaSyDbOMeklgU0RuoqbpYNIjsnInOyOMNX3xo&center=39.277969,-76.622767&zoom=16&maptype=satellite" allowfullscreen>
                      </iframe>
                      </div>

                      <div id="stadium-raiders">
                      <iframe
                        width="450"
                        height="250"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/streetview?key=AIzaSyDbOMeklgU0RuoqbpYNIjsnInOyOMNX3xo&location=37.751411,-122.200889" allowfullscreen>
                      </iframe>
                      <iframe
                        width="450"
                        height="250"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/view?key=AIzaSyDbOMeklgU0RuoqbpYNIjsnInOyOMNX3xo&center=37.751411,-122.200889&zoom=16&maptype=satellite" allowfullscreen>
                      </iframe>
                      </div>

                      <div id="stadium-falcons">
                      <iframe
                        width="450"
                        height="250"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/streetview?key=AIzaSyDbOMeklgU0RuoqbpYNIjsnInOyOMNX3xo&location=33.757614,-84.400972" allowfullscreen>
                      </iframe>
                      <iframe
                        width="450"
                        height="250"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/view?key=AIzaSyDbOMeklgU0RuoqbpYNIjsnInOyOMNX3xo&center=33.757614,-84.400972&zoom=16&maptype=satellite" allowfullscreen>
                      </iframe>
                      </div>

                      <div id="stadium-squeelers">
                      <iframe
                        width="450"
                        height="250"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/streetview?key=AIzaSyDbOMeklgU0RuoqbpYNIjsnInOyOMNX3xo&location=40.446786,-80.015761" allowfullscreen>
                      </iframe>
                      <iframe
                        width="450"
                        height="250"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/view?key=AIzaSyDbOMeklgU0RuoqbpYNIjsnInOyOMNX3xo&center=40.446786,-80.015761&zoom=16&maptype=satellite" allowfullscreen>
                      </iframe>
                      </div>

                      <div id="stadium-titans">
                      <iframe
                        width="450"
                        height="250"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/streetview?key=AIzaSyDbOMeklgU0RuoqbpYNIjsnInOyOMNX3xo&location=36.1669,-86.7698" allowfullscreen>
                      </iframe>
                      <iframe
                        width="450"
                        height="250"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/view?key=AIzaSyDbOMeklgU0RuoqbpYNIjsnInOyOMNX3xo&center=36.1669,-86.7698&zoom=16&maptype=satellite" allowfullscreen>
                      </iframe>
                      </div>

                      <div id="stadium-browns">
                      <iframe
                        width="450"
                        height="250"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/streetview?key=AIzaSyDbOMeklgU0RuoqbpYNIjsnInOyOMNX3xo&location=41.506022,-81.699564" allowfullscreen>
                      </iframe>
                      <iframe
                        width="450"
                        height="250"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/view?key=AIzaSyDbOMeklgU0RuoqbpYNIjsnInOyOMNX3xo&center=41.506022,-81.699564&zoom=16&maptype=satellite" allowfullscreen>
                      </iframe>
                      </div>

                      <div id="stadium-colts">
                      <iframe
                        width="450"
                        height="250"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/streetview?key=AIzaSyDbOMeklgU0RuoqbpYNIjsnInOyOMNX3xo&location=39.760056,-86.163806" allowfullscreen>
                      </iframe>
                      <iframe
                        width="450"
                        height="250"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/view?key=AIzaSyDbOMeklgU0RuoqbpYNIjsnInOyOMNX3xo&center=39.760056,-86.163806&zoom=16&maptype=satellite" allowfullscreen>
                      </iframe>
                      </div>

                      <div id="stadium-ravens">
                      <iframe
                        width="450"
                        height="250"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/streetview?key=AIzaSyDbOMeklgU0RuoqbpYNIjsnInOyOMNX3xo&location=39.277969,-76.622767" allowfullscreen>
                      </iframe>
                      <iframe
                        width="450"
                        height="250"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/view?key=AIzaSyDbOMeklgU0RuoqbpYNIjsnInOyOMNX3xo&center=39.277969,-76.622767&zoom=16&maptype=satellite" allowfullscreen>
                      </iframe>
                      </div>
          </div>

          <script>
/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

function filterFunction() {
    var input, filter, ul, li, a, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    div = document.getElementById("myDropdown");
    a = div.getElementsByTagName("a");
    for (i = 0; i < a.length; i++) {
        if (a[i].innerHTML.toUpperCase().indexOf(filter) > -1) {
            a[i].style.display = "";
        } else {
            a[i].style.display = "none";
        }
    }
}
</script>


    <div id="playerlistFoot" class="footer">

        <i class="icon ion-ios-americanfootball w3-large"></i>
          <strong>All You Need To Know About Fantasy Football!</strong>
          <i class="icon ion-ios-americanfootball w3-large"></i>
          <p><i class="icon ion-ios-americanfootball-outline w3-large"></i>
          By Joshua Franey, Gabriel Hamiltion, Joe Hill, and Evan Tizard
        <i class="icon ion-ios-americanfootball-outline w3-large"></i></p>

    </div>

</div>