    <div class="playerlist-container">
      
       	<h1 id="team-list">Teams</h1>

        <!-- 	<div id="teamlist" ng-repeat="team in ctrl.teamName">
        		
        			<input type="radio" name="radTeamName">{{team.teamName}}
        				<br/>
        	</div>
 -->

        <div class="dropdown">

          <button onclick="myFunction()" class="dropbtn">Select A Team</button>

          <div id="myDropdown" class="dropdown-content">

            <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
                <a href="#/playerlist/ARI">Arizona Cardinals</a>
                <a href="#/playerlist/ATL">Atlanta Falcons</a>
                <a href="#/playerlist/BAL">Baltimore Ravens</a>
                <a href="#/playerlist/BUF">Buffalo Bills</a>
                <a href="#/playerlist/CAR">Carolina Panthers</a>
                <a href="#/playerlist/CHI">Chicago Bears</a>
                <a href="#/playerlist/CIN">Cincinatti Bengals</a>
                <a href="#/playerlist/CLE">Cleveland Browns</a>
                <a href="#/playerlist/DAL">Dallas Cowboys</a>
                <a href="#/playerlist/DEN">Denver Broncos</a>
                <a href="#/playerlist/DET">Detroit Lions</a>
                <a href="#/playerlist/GB">Green Bay Packers</a>
                <a href="#/playerlist/HOU">Houston Texans</a>       
                <a href="#/playerlist/IND">Indianapolis Colts</a>
                <a href="#/playerlist/JAX">Jacksonville Jaguars</a>
                <a href="#/playerlist/KC">Kansas City Chiefs</a>
                <a href="#/playerlist/LA">Los Angeles Rams</a>
                <a href="#/playerlist/MIA">Miami Dolphins</a>
                <a href="#/playerlist/MIN">Minnesota Vikings</a>       
                <a href="#/playerlist/NE">New England Patriots</a>
                <a href="#/playerlist/NO">New Orleans Saints</a>
                <a href="#/playerlist/NYG">New York Giants</a>
                <a href="#/playerlist/NYJ">New York Jets</a>
                <a href="#/playerlist/OAK">Oakland Raiders</a>
                <a href="#/playerlist/PHI">Philadelphia Eagles</a>       
                <a href="#/playerlist/PIT">Pittsburgh Steelers</a>
                <a href="#/playerlist/SD">San Diego Chargers</a>
                <a href="#/playerlist/SEA">Seattle Seahawks</a>
                <a href="#/playerlist/SF">San Francisco 49ers</a>
                <a href="#/playerlist/TB">Tampa Bay Buccaneers</a>
                <a href="#/playerlist/TEN">Tennessee Titans</a>
                <a href="#/playerlist/WAS">Washington Redskins</a>

           </div>
        </div>

       		<div id="playrlist" >
       			
       			<table id="playertable" class="table table-striped table-bordered table-condensed table-hover w3-card-16 w3-table-all">

       				<tr>
       					<th>Player Name</th>
       					<th>Position</th>
       				</tr>
       				
       				<tr ng-repeat="playr in ctrl.roster">
       					<th>{{playr.name}}</th>
                <th>{{playr.position.description}}</th>
       				<tr>

       			</table>

       		<div>

    <div id="playerlistFoot" class="footer">

        <i class="icon ion-ios-americanfootball w3-large"></i>
          <strong>All You Need To Know About Fantasy Football!</strong>
          <i class="icon ion-ios-americanfootball w3-large"></i>
          <p><i class="icon ion-ios-americanfootball-outline w3-large"></i>
          By Joshua Franey, Gabriel Hamiltion, Joe Hill, and Evan Tizard
        <i class="icon ion-ios-americanfootball-outline w3-large"></i></p>

    </div>

</div>