<div id="stadium-container">
<iframe
  width="450"
  height="250"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/streetview?key=AIzaSyDbOMeklgU0RuoqbpYNIjsnInOyOMNX3xo&location=39.277969,-76.622767" allowfullscreen>
</iframe>
<iframe
  width="450"
  height="250"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/view?key=AIzaSyDbOMeklgU0RuoqbpYNIjsnInOyOMNX3xo&center=39.277969,-76.622767&zoom=16&maptype=satellite" allowfullscreen>
</iframe>
</div>