<div id="about-container">

	<h1 id="about_h" class="w3-xxxlarge">about</h1>

	<div id="about_div1" class="w3-large">

			<p id="about_p">this website includes:</p>

				<ul class="w3-card-16"><strong>
					<li class="about_list">weekly updated game statistics
						</br>
					</li>
					<li class="about_list">reccomended fantasy lineups 
						</br>
					</li>
					<li class="about_list">full nfl schedule and matchups 
					</li>
					</strong>
				</ul>
	</div>

		<h1 id="about_h2" class="w3-xxxlarge">how it works</h1>

		<div id="about_div2" class="w3-large">

			<p>We accomplish this by 
			pulling live data from the web using api calls.
			the statistics are fed into our databases and pushed onto the website
			using a variety of technologies such as:</p>
				</br>

			<ul>
				<li>JAVA</li>
				<li>BOOTSTRAP</li>
				<li>NODE.JS</li>
				<li>JAVASCRIPT</li>
				<li>ANGULAR</li>
				<li>AJAX</li>
			</ul>

	</div>

	<h1 id="about_h2" class="w3-xxxlarge">Our Team</h1>



 <div class="square"><img id="joe" src="http://www.slate.com/content/dam/slate/articles/sports/sports_nut/2014/09/140910_SNUT_TerrellSuggs.jpg.CROP.promo-mediumlarge.jpg" width="300" height="200" ><!-- </div> -->

<p>
<br/>
</p>

 <!-- <div class="square"> --><img id="josh" src="http://sports.cbsimg.net/images/blogs/Justin-Tucker.seventy.400.jpg" width="300" height="200" ></div>


 <div class="square"><img id="evan" src="http://media.hotbirthdays.com/upload/2015/07/10/ray-lewis.jpg" width="300" height="200" ><!-- </div> -->

<p>
<br/>
</p>

 <!-- <div class="square"> --><img id="gabe" src="http://assets.vice.com/content-images/contentimage/no-slug/8b7ed33c738017b0e870a6a6125dd033.jpg" width="300" height="200" ></div>







<!-- <div id="about_top"><img id="joe" src="http://www.slate.com/content/dam/slate/articles/sports/sports_nut/2014/09/140910_SNUT_TerrellSuggs.jpg.CROP.promo-mediumlarge.jpg"> --><!-- </div> -->

<!-- <div id="about_top"> --><!-- <img id="josh" src="http://sports.cbsimg.net/images/blogs/Justin-Tucker.seventy.400.jpg"></div> -->

<!-- <div id="about_bottom"><img id="evan" src="http://media.hotbirthdays.com/upload/2015/07/10/ray-lewis.jpg"> --><!-- </div> -->

<!-- <div id="about_bottom"> --><!-- <img id="gabe" src="http://assets.vice.com/content-images/contentimage/no-slug/8b7ed33c738017b0e870a6a6125dd033.jpg"></div> -->

	<!-- <div id="aboutFoot" class="footer">
				<i class="icon ion-ios-americanfootball w3-large"></i>
					<strong>All You Need To Know About Fantasy Football!</strong>
					<i class="icon ion-ios-americanfootball w3-large"></i>
					<p><i class="icon ion-ios-americanfootball-outline w3-large"></i>
					By Joshua Franey, Gabriel Hamiltion, Joe Hill, and Evan Tizard
				<i class="icon ion-ios-americanfootball-outline w3-large"></i></p>
		</div> -->
</div>