<div>
<div id="about_div1" class="w3-large">
<h1 id="about_h">about</h1>
<p id="about_p">this website includes</p>
<ul class="w3-card-16"><strong>
<li class="about_list">weekly updated game statistics
</br>
</li>
<li class="about_list">reccomended fantasy lineups 
</br>
</li>
<li class="about_list">full nfl schedule and matchups 
</li>
</strong>
</ul>
</div>
<div id="about_div2" class="w3-large">
<h1 id="about_h2">how it works</h1>
<p>We accomplish this by 
pulling live data from the web using api calls.
the statistics are fed into our databases and pushed onto the website
using a variety of technologies such as:</p>
</br>
<ul>
	<li>
		JAVASCRIPT
	</li>
	<li>ANGULAR</li>
	<li>AJAX</li>
</ul>
</div>
</div>