<!-- <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" type="text/css" href="fball.css">
 -->




<div>
<div id="paragraphs" class="w3-large">
<!-- <h1>Home</h1> -->
<h1>Home</h1>
<p class="w3-card-16"><strong>This fantasy football live statistics tracker will display updated statistics for each nfl game in the regular season</strong>

<br/>Users will able to break down each game and see helpful fantasy statistics such as top offensive performers and statistics on each team's defense</strong></p>

</div>

</div>
