<div>
<h1>About</h1>
<iframe
  width="450"
  height="250"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/streetview?key=AIzaSyCFSUsjbQtwLvYuyy_sstBK1QLq53W7Zyw&location=39.277969,-76.622767" allowfullscreen>
</iframe>
<iframe
  width="450"
  height="250"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/view?key=AIzaSyCFSUsjbQtwLvYuyy_sstBK1QLq53W7Zyw&center=39.277969,-76.622767&zoom=16&maptype=satellite" allowfullscreen>
</iframe>
</div>