<div>
<div id="local_db">
	<div id="team-div" class="admin-table-div">
		<h3>Team Table Info</h3>
		<button>Populate Table</button>
		<button>Clear Table</button>
		<button>Collapse Table</button>
		<table class="table table-bordered table-striped table-hover">
			<tr ng-repeat="team in ctrl.teams">
				<td ng-bind="'Id: ' + team.id"></td>
				<td ng-bind="'Abrev: ' + team.abrev"></td>
				<td ng-bind="'Name: ' + team.teamName"></td>
				<td ng-bind="'Record: ' + team.wins + ' - ' + team.losses + ' - ' + team.ties"></td>
			</tr>
		</table>
	</div>
	<div id="matchup-div" class="admin-table-div">
		<h3>Matchup Table Info</h3>
		<button ng-click="ctrl.populateMatchups();">Populate Table</button>
		<button>Clear Table</button>
		<table class="table table-bordered table-striped table-hover">
			<tr ng-repeat="matchup in ctrl.matchups">
				<td ng-bind="'Id: ' + matchup.id"></td>
				<td ng-bind="'Week: ' + matchup.week"></td>
				<td ng-bind="matchup.awayTeam.teamName + ' @ ' + matchup.homeTeam.teamName"></td>
			</tr>
		</table>
	</div>
	<div id="game-result-div" class="admin-table-div">
		<h3>Game Result Info</h3>
		<button ng-click="ctrl.populateGameResults();">Populate Table</button>
		<button>Clear Table</button>
		<table class="table table-bordered table-striped table-hover">
			<tr ng-repeat="gameResult in ctrl.gameResults">
				<td ng-bind="'Id: ' + gameResult.id"></td>
				<td ng-bind="'Matchup: ' + gameResult.matchup.awayTeam.teamName + ' @ ' + gameResult.matchup.homeTeam.teamName"></td>
				<td ng-bind="'Winner: ' + gameResult.winTeam.teamName + ' - ' + gameResult.winScore"></td>
				<td ng-bind="'Loser: ' + gameResult.loseTeam.teamName + ' - ' + gameResult.loseScore"></td>
			</tr>
		</table>
	</div>
	<div id="defensive-stat-div" class="admin-table-div">
		Defensive Stat Info
	</div>
	<div id="offensive-player-div" class="admin-table-div">
		<h3>Offensive Player Info</h3>
		<table class="table table-bordered table-striped table-hover">
			<tr ng-repeat="player in ctrl.players">
				<td ng-bind="'Id: ' + player.id"></td>
				<td ng-bind="'Name: ' + player.name"></td>
				<td ng-bind="'Position: ' + player.position.description"></td>
				<td ng-bind="'Team: ' + player.team.teamName"></td>
			</tr>
		</table>
	</div>
	<div id="offensive-stat-div" class="admin-table-div">
		Offensive Stat Info
	</div>
</div>
<div id="api_data">
	<div>
		<table class="table table-bordered table-striped table-hover">
			<tr ng-repeat="matchup in ctrl.updMatchups">
				<td ng-show="matchup.vis" ng-bind="'Week: ' + matchup.week"></td>
				<td ng-show="matchup.vis" ng-bind="matchup.awayTeam + ' @ ' + matchup.homeTeam"></td>
				<td ng-show="matchup.vis" ><button ng-click="ctrl.addMatchup(matchup.homeTeam,matchup.awayTeam,matchup.week,matchup.final);matchup.vis=false;">Add Record</button></td>
			</tr>
		</table>
	</div>
	<div>
		<table class="table table-bordered table-striped table-hover">
			<tr ng-repeat="result in ctrl.updGameResults">
				<td ng-show="result.vis" ng-bind="'Matchup: ' + result.winTeam + ' vs ' +result.loseTeam"></td>
				<td ng-show="result.vis" ng-bind="result.winTeam + ': ' + result.winScore"></td>
				<td ng-show="result.vis" ng-bind="result.loseTeam + ': ' + result.loseScore"></td>
				<td ng-show="result.vis"><button ng-click="ctrl.addResult(result.matchup,result.winTeam,result.loseTeam,result.winScore,result.loseScore,result.tie);result.vis=false;">Add Record</button></td>
			</tr>
		</table>
	</div>
	<div ng-repeat="gameId in ctrl.apiGameIdList">
			<a ng-bind="gameId.id" ng-show="gameId.vis" ng-click="ctrl.getGameStats(gameId);"></a>
			<table ng-show="gameId.stats.vis" class="table table-bordered table-striped table-hover">
				<thead>
					<th>Actions</th>
					<th>Name</th>
					<th>Position</th>
					<th>Pass Attempts</th>
					<th>Pass Completions</th>
					<th>Pass Yards</th>
					<th>Pass Touchdowns</th>
					<th>Pass Interceptions</th>
					<th>Receptions</th>
					<th>Receiving Yards</th>
					<th>Receiving Touchdowns</th>
					<th>Rushes</th>
					<th>Rushing Yards</th>
					<th>Rushing Touchdowns</th>
					<th>Fumbles</th>
				</thead>
				<tr ng-repeat="player in gameId.stats.offense.home">
					<td><button>Erase</button><button ng-click="ctrl.addPlayerStats(player)">Add</button></td>
					<td ng-bind="player.player.name + ' - ' + player.player.team"></td>
					<td><input type="text" style="width:30px;" ng-model="player.player.position"></input></td>
					<td ng-bind="player.passAttempts"></td>
					<td ng-bind="player.passCompletions"></td>
					<td ng-bind="player.passYards"></td>
					<td ng-bind="player.passTouchdowns"></td>
					<td ng-bind="player.passInterceptions"></td>
					<td ng-bind="player.receptions"></td>
					<td ng-bind="player.recYards"></td>
					<td ng-bind="player.recTouchdowns"></td>
					<td ng-bind="player.rushAttempts"></td>
					<td ng-bind="player.rushYards"></td>
					<td ng-bind="player.rushTouchdowns"></td>
					<td ng-bind="player.fumbles"></td>
				</tr>
				<tr ng-repeat="player in gameId.stats.offense.away">
					<td><button>Erase</button><button ng-click="ctrl.addPlayerStats(player)">Add</button></td>
					<td ng-bind="player.player.name + ' - ' + player.player.team"></td>
					<td><input type="text" style="width:30px;" ng-model="player.player.position"></input></td>
					<td ng-bind="player.passAttempts"></td>
					<td ng-bind="player.passCompletions"></td>
					<td ng-bind="player.passYards"></td>
					<td ng-bind="player.passTouchdowns"></td>
					<td ng-bind="player.passInterceptions"></td>
					<td ng-bind="player.receptions"></td>
					<td ng-bind="player.recYards"></td>
					<td ng-bind="player.recTouchdowns"></td>
					<td ng-bind="player.rushAttempts"></td>
					<td ng-bind="player.rushYards"></td>
					<td ng-bind="player.rushTouchdowns"></td>
					<td ng-bind="player.fumbles"></td>
				</tr>
			</table>
	</div>
</div>
</div>