<div style="margin-left:25%; margin-right:5%; float:left; font-size:90%" >
<h3>Quarterback</h3>
<table id ="QB" class="table-hover" border="10" >
		<tr style="color:purple">
			<th>Player Name</th><th>Team</th><th>Off Rank<th>Avg/week</th>
		</tr>
		<tr ng-repeat="qb in ctrl.players['QB']" style="color:black; font-weight:bold">
			<td>{{qb.name}}</td>
			<td>{{qb.team.abrev}}</td>
			<td>{{qb.offRanking}}</td>
			<td class="changeRed">{{qb.avgScore}}</td>
		</tr>
</table>
</div>

<div style="margin-left:25%; margin-right:5%; font-size:90%">
<h3>Tight End</h3>	
<table id ="TE" class="table-hover " border="10"  >
		<tr style="color:purple">
			<th>Player Name</th><th>Team</th><th>Off Rank<th>Avg/week</th>
		</tr>
		<tr ng-repeat="te in ctrl.players['TE']" style="color:black; font-weight:bold">
			<td>{{te.name}}</td>
			<td>{{te.team.abrev}}</td>
			<td>{{te.offRanking}}</td>
			<td class="changeRed">{{te.avgScore}}</td>
		</tr>
</table>
</div>
<br>

<div style="margin-left:25%; margin-right:5%; float:left; font-size:90%">
<h3>Wide Receiver</h3>	
<table id ="WR" border="10" class="table-hover ">
		<tr style="color:purple">
			<th>Player Name</th><th>Team</th><th>Off Rank</th><th>Avg/week</th>
		</tr>
		<tr ng-repeat="wr in ctrl.players['WR']" style="color:black; font-weight:bold">
			<td>{{wr.name}}</td>
			<td>{{wr.team.abrev}}</td>
			<td>{{wr.offRanking}}</td>
			<td class="changeRed">{{wr.avgScore}}</td>
		</tr>
</table>
</div>

<div style="margin-left:25%; margin-right:5%; font-size:90%">
<h3>Running Back</h3>	
<table id ="RB" border="10" class="table-hover"  >
		<tr style="color:purple">
			<th>Player Name</th><th>Team</th><th>Off Rank</th><th>Avg/week</th>
		</tr>
		<tr ng-repeat="rb in ctrl.players['RB']" style="color:black; font-weight:bold">
			<td>{{rb.name}}</td>
			<td>{{rb.team.abrev}}</td>
			<td>{{rb.offRanking}}</td>
			<td class="changeRed">{{rb.avgScore}}</td>
		</tr>
</table>
</div>